html {
  text-align: center;
  }
  .atag {
    font-size: xx-large;
    align-items: center;
  }

  h1 {
    color: aliceblue;
  }

  body {
    background-image: url(../Assets/1300536.jpg);    
  }

  h2 {
    color: aliceblue;
  }

  ol {
    list-style-position: inside;
    font-size: x-large;
    background-color: chartreuse;
    
  }