
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color and font styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #007bff;
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #555;
}

.project {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.project a {
  color: #007bff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Mobile-friendly layout using Flexbox */
.container {
  display: flex;
  flex-direction: column;
}

header, nav {
  order: 1;
}

section {
  order: 3;
  margin-bottom: 40px;
}

header, nav, .container > .project {
  width: 100%;
}
#about {
  background-color: #000000;
  color: #fff;
  padding: 40px;
  border-radius: 5px;
}

#about h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

#about p {
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Media query for tablets and larger devices */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  header, nav {
    flex-basis: 20%;
    order: 1;
  }

  section {
    flex-basis: 40%;
    order: 2;
    margin: 0 20px;
  }

  .container > .project {
    flex-basis: 40%;
  }
  #about {
    flex-basis: 60%;
  }
}
